/*********** 
Page Header
***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
    /* Top notification menu/bar */
    /* Header seaech box */
}

.page-header.navbar .page-logo {
    background: #eaf5fc;
}

.page-header.navbar .page-top {
    box-shadow: none;
    background: #ffffff;
    border-bottom: 1px solid #D7D7D7;
}

.page-header.navbar .top-menu .navbar-nav {
    /* Extended Dropdowns */
    /* Notification */
    /* Inbox */
    /* Tasks */
    /* User */
    /* Language */
    /* Dark version */
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
    background-color: #f9fafc;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
    color: #C0CDDC;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #eaf5fc;
    color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
    background-color: #f9fafc;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
    border-bottom-color: #e4e8ee;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
    border: 1px solid #e4e8ee;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:before {
    border-bottom-color: #d4dae4;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
    border-bottom-color: #eaedf2;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
    background: #eaedf2;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
    color: #62878f;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
    color: #5b9bd1;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
    color: #3175af;
    text-decoration: none;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    border-bottom: 1px solid #EFF2F6 !important;
    color: #888888;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
    background: #f8f9fa;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
    background: #f1f1f1;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
    background: #e4e4e4;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
    background-color: #eaf5fc;
    color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
    border-color: transparent transparent transparent #eaf5fc;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
    color: #5b9bd1;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
    background-color: #dfe2e9;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #7f96ac;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #7f96ac;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
    width: 195px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
    color: #7f96ac;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
    background: #627587;
    border: 0;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
    border-bottom-color: #627587;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
    background: #51616f;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
    color: #dbe0e4;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
    color: #87b6dd;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
    color: #e9ecef;
    border-bottom: 1px solid #718497 !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
    color: #ccd3da;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
    background: #6b7f92;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
    border-bottom: 0 !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
    background: #718497;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
    background: #586878;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
    background: #4d5b69;
}
.page-header.navbar .search-form {
    background: #fff;
}
.page-header.navbar .search-form .input-group .form-control {
    color: #7f96ac;
}
.page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
    color: #7c94aa;
    opacity: 1;
}
.page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
    color: #7c94aa;
}
.page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
    color: #7c94aa;
}
.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
    color: #7f96ac;
}

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
    // background-color: #ffffff;
    /*box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);*/
    // background: #ffffff;
    background: #eaf5fc;
    /* Default sidebar */
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
.page-sidebar .page-sidebar-menu {
    /* 1st level links */
    /* All links */
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a {
    /*border-top: 1px solid #536372;*/
    color: #f2f4f6;
}
@media (max-width: 991px) {
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
        /* 991px */
        border-top: 1px solid #5e7081;
    }
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
    color: #7ba0bb;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #23252f;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
    color: #677a8c;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.open > a {
    background: #eaf5fc;;
    color: #252525;
}

.page-sidebar .page-sidebar-menu > li.config-link > a > i[class*="icon-"]{
    line-height: 33px;
}

.page-sidebar .page-sidebar-menu > li.config-link > a > span.title{
    vertical-align: middle;
    margin-top: -18px;
}

.page-sidebar .page-sidebar-menu > li.config-link:hover > a,
.page-sidebar .page-sidebar-menu > li.config-link:hover > a > i[class*="icon-"]{
    background: transparent;
    color: #ec4346;
}

.page-sidebar .page-sidebar-menu > li.icon-getting_into_gear_black_li:hover > a > i{
    background-image: url(../img/getting_into_gear_black_color.png);
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu > li.open > a > i {
    color: #8cacc3;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
    color: #8cacc3;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
    /*background: #44515d;*/
    color: white;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: #eaf5fc;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
.page-sidebar .page-sidebar-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu > li.active.open > a > i {
    color: #15c1df;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
    color: #f3f5f6;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
.page-sidebar .page-sidebar-menu > li:last-child > a {
    border-bottom: 1px solid transparent !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li > a > .arrow:before,
.page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
    color: #677a8c;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
    color: #8cacc3;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
    color: #f3f5f6;
}
.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
.page-sidebar .page-sidebar-menu:hover .sub-menu {
    background: #404c57;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #e4e7eb;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
    color: #8b9baa;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
    color: #9aa8b5;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
    color: #677a8c;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    background: #465460 !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
    color: #8cacc3;
    color: #c6ced5;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
    color: #8cacc3;
}

/******
Page Footer 
******/
.page-footer .page-footer-inner {
    color: #d5dbe0;
}
.page-footer-fixed .page-footer {
    background-color: #adb5b0;
}
.page-footer-fixed .page-footer .page-footer-inner {
    color: #121618;
}

.page-boxed .page-footer .page-footer-inner {
    color: #121618;
}
.page-footer-fixed .page-boxed .page-footer {
    background-color: #adb5b0;
}

@media (min-width: 1200px) {
    .page-sidebar-fixed:not(.page-footer-fixed) .page-content .page-content-margin{
        margin: auto 90px;
    }
}

@media (min-width: 992px) {
    /* 992px */
    /* Sidebar menu closed */
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
    }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
    }
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
    }

    /* Fixed Sidebar */
    .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
        border-bottom: 0;
    }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
        background-color: #F1F3FA;
    }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
        color: #333;
    }

    /* Boxed Layout */
    .page-boxed {
        background-color: #c0c6c2 !important;
        /* Page container */
    }
    .page-boxed .page-container {
        /*background-color: #fff;*/
        background-color: #eaf5fc;
    }
    .page-boxed.page-sidebar-reversed .page-container {
        border-left: 0;
    }
    .page-boxed.page-sidebar-fixed .page-container {
        border-left: 0;
        border-bottom: 0;
    }
    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    /* Sidebar Menu Wirh Hoverable Submenu */
    .page-sidebar-menu-hover-submenu li:hover a > .arrow {
        border-right: 8px solid #404c57;
    }
    .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
        border-left: 8px solid #404c57;
    }
    .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        background: #404c57 !important;
    }
}
@media (max-width: 991px) {
    /* 991px */
    .page-container {
        background: #F1F3FA;
    }

    .page-header.navbar {
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
        padding: 0;
        /* Top menu */
    }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
        background-color: #f6f7fa;
    }
    .page-header.navbar .page-top {
        box-shadow: none;
    }
}
@media (max-width: 480px) {
    /* 480px */
    .page-header.navbar {
        background: #ffffff;
        /* Top menu */
    }
    .page-header-fixed-mobile .page-header.navbar .top-menu {
        background-color1: #ffffff;
    }
    .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
        background-color: #eff1f6;
    }
}
/****
 CSS3 Spinner Bar  
****/
.page-spinner-bar > div,
.block-spinner-bar > div {
    background: #1acbea;
}

/****
Boby
****/
body {
    background-color: #4d5b69;
}

body.page-boxed {
    background-color: #c8cdca;
}

.page-template-dashboard #sidr-main, 
.single-video #sidr-main{
    background: #00a0f0;
    background: #eaf5fc;
    border-left: 1px solid #ccc;
}

a.sidr-class-toggle-sidr-close {
    font-size: 25px;
    position: absolute;
    top: -15px;
    right: 70px;
    display: block;
}

.page-template-dashboard #sidr-main {
    padding: 39px 30px 30px;
}

a.sidr-class-toggle-sidr-close:before{
    color:#00a0f0;
}

li.sidr-class-start {
    list-style: none;
    display: block;
    position: relative;
    clear: both;
}

li.sidr-class-start a{
    color: #FFFFFF;
    width: 100%;
    display: block;
    position: relative;
    border: 0px;
    padding: 7px 15px 7px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    height: 47px;
    margin: 10px 0px;
}

li.sidr-class-start a span{
    display: block;
    text-align: left;
    margin-top: 5px;
    max-width: 100%;
    color: #252525;
    float: left;
    vertical-align: middle;
    line-height: 17px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

li.sidr-class-start a i.sidr-class-icon-dashboard{    
    width: 35px!important;
    height: 34px;
    top: 0px;
    margin-left: 1px;
    margin-right: 24px;
    float: left;
    margin-top: 0px;
    background-image: url(../img/dashboard_black.png);
}


li.sidr-class-start a i.sidr-class-icon-getting_into_gear_black{    
    top: 0px;
    margin-left: 1px;
    margin-right: 24px;
    float: left;
    margin-top: 0px;
    background-image: url(../img/getting_into_gear_black.png);
    width: 32px!important;
    height: 31px;
}

li.sidr-class-start a i.sidr-class-icon-navigating_turns_black{    
    top: 0px;
    margin-left: 1px;
    margin-right: 24px;
    float: left;
    margin-top: 0px;
    background-image: url(../img/navigating_turns_black.png);
    width: 29px!important;
    height: 33px;
}

li.sidr-class-start a i.sidr-class-icon-heading_for_the_finish_black{    
    top: 0px;
    margin-left: 1px;
    margin-right: 24px;
    float: left;
    margin-top: 0px;
    background-image: url(../img/heading_for_the_finish_black.png);
    width: 33px!important;
    height: 31px;
}


li.sidr-class-start a i.sidr-class-icon-acceptance{    
    top: 0px;
    margin-left: 1px;
    margin-right: 24px;
    float: left;
    margin-top: 0px;
    background-image: url(../img/acceptance_black.png);
    width:28px!important;
    height:33px;
}

li.sidr-class-start a i.sidr-class-icon-bundles-and-bonuses{    
    top: 0px;
    margin-left: 1px;
    margin-right: 24px;
    float: left;
    margin-top: 0px;
    background-image: url(../img/AR_bundles_icon.png);
    width: 32px!important;
    height: 20px;
    background-size: cover;
}

li.sidr-class-start a i.sidr-class-icon-mandarin{    
    top: 0px;
    margin-left: 1px;
    margin-right: 24px;
    float: left;
    margin-top: 0px;
    background-image: url(../img/AR_Mandarin_icon.png);
    width: 26px!important;
    height: 29px;
}

li.sidr-class-config-link ul.sidr-class-menu-settings-ul li a {
    display: block!important;
    width: 100%!important;
    font-size: 29px!important;
    max-width: 100%!important;
    color: #252525!important;
    float: left!important;
    vertical-align: middle!important;
    line-height: 17px!important;
    font-weight: 500!important;
    font-family: "Open Sans", sans-serif!important;
    text-align: center!important;
    clear: both!important;
    border: none!important;
    text-decoration: none;
    font-size: 22px!important;
}

li.sidr-class-config-link ul.sidr-class-menu-settings-ul li a span{
    display: block!important;
    width: 100%!important;
    line-height: 22px!important;
    text-align: center!important;
    font-size: 15px!important;
}

li.sidr-class-config-link ul.sidr-class-menu-settings-ul{
    margin-top: 0px;
}

.page-sidebar .page-sidebar-menu > li.icon-bundles-and-bonuses_li > a > .title.single-line{
    margin-top: -3px;
    margin-left: -5px;
    font-size: 15px;
}

.no-allow p{
    color: #002c51;
    padding-top: 0px;
    font-size: 25px;
}

.icon-bundles-and-bonuses {
    background-image: url(../img/AR_bundles_icon.png);
    width: 26px!important;
    height: 33px;
    background-size: cover;
}

.icon-bundles-and-bonuses:hover, .active.icon-bundles-and-bonuses_li .icon-bundles-and-bonuses{
    background-image: url(../img/AR_bundles_icon_active.png);
}

.icon-mandarin {
    background-image: url(../img/AR_Mandarin_icon.png);
    width:26px!important;
    height:29px;
}

.icon-acceptance {
    background-image: url(../img/acceptance_black.png);
    width:28px!important;
    height:33px;
}

.icon-getting_into_gear_black{
    background-image: url(../img/getting_into_gear_black.png);
    width:32px!important;
    height:31px;
}

.icon-dashboard{
    background-image: url(../img/dashboard_black.png);
    width:35px!important;
    height:34px;
}

.icon-navigating_turns_black{
    background-image: url(../img/navigating_turns_black.png);
    width:29px!important;
    height:33px;
}

.active .icon-getting_into_gear_black{
    background-image: url(../img/getting_into_gear_black_color.png)!important;
    width:32px!important;
    height:31px;
}

.active .icon-navigating_turns_black{
    background-image: url(../img/navigating-turns-color-active.png)!important;
    width:29px!important;
    height:33px;
}

.active .icon-heading_for_the_finish_black{
    background-image: url(../img/heading-for-the-finish-color-active.png)!important;
    width:33px!important;
    height:31px;
}

.active .icon-acceptance{
    background-image: url(../img/acceptance-color-active.png)!important;
    width:28px!important;
    height:33px;
}

.active i.icon-dashboard {
    background-image: url(../img/AR_dashboard_red.png);
    width: 35px!important;
    height: 34px;
}

.icon-heading_for_the_finish_black{
    background-image: url(../img/heading_for_the_finish_black.png);
    width:33px!important;
    height:31px;
}


.icon-navigating_turns_black_li a:hover i.icon-navigating_turns_black{
    background-image: url(../img/navigating-turns-color-active.png)!important;
    width: 29px!important;
    height: 33px;
}

.icon-heading_for_the_finish_black_li a:hover i.icon-heading_for_the_finish_black{
    background-image: url(../img/heading-for-the-finish-color-active.png)!important;
    width: 33px!important;
    height: 31px;
}

.icon-acceptance_li a:hover i.icon-acceptance{
    background-image: url(../img/acceptance-color-active.png)!important;
    width: 28px!important;
    height: 33px;
}

.icon-dashboard_li a:hover i.icon-dashboard {
    background-image: url(../img/AR_dashboard_red.png);
    width: 35px!important;
    height: 34px;
}

li.config-link{
    margin-top: 60px!important;
}

li.config-link a{
    padding: 0px 15px 15px 12px!important;
    float: left;
    display: block;
    position: relative;
}

li.config-link a i.icon-settings{
    margin-right: 5px!important;
}

li.config-link ul{
    float: left;
    display: block;
    position: relative;
}

li.config-link ul li a{
    padding: 0px 0px 8px 0px!important;
    color: #252525;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    font-size: 13px;
}

li.config-link a i.icon-settings{
    font-size: 29px;
}

.top-category .easy-pie-chart{
    margin-bottom: 20px;
}

.init-row .dashboard-stat{
    margin-bottom: 70px;
}

.init-row .dashboard-stat .visual{
    width: 100%;
    position: relative;
    display: block;
    float: none;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
    clear: both;
    text-align: center;
    padding-right: 10px;
    height: auto;
}


.dashboard-stat .visual .overlay{
    /*
    background-image: url(../img/row.png);
    width: 24px!important;
    height: 27px;
    position: absolute;
    z-index: 30;
    top: 50%;
    right: 50%;
    */
}

.init-row .dashboard-stat .visual img{
    width: 100%;
    margin: auto;
    z-index: 9;
}


.init-row .dashboard-stat .details{
    position: relative;
    display: block;
    clear: both;
    color: #002c51;
    right: 0px;
    padding-right: 15px;
    padding-left: 15px;
    height: 100px;
}

.init-row .dashboard-stat .details .number{
    text-align: left;
    color: #002c51;
    padding-top: 0px;
    font-size: 25px;
}

.init-row .dashboard-stat p{
    width: 100%;
    position: relative;
    display: block;
    float: none;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    clear: both;
    text-align: center;
    padding-right: 10px;
    height: auto;
    color: #002c51;
}


.init-row .dashboard-stat ul.post-meta{

}

.normal-row .dashboard-stat .caption-helper {
    clear: both;
    position: relative;
    display: block;
    width: 100%;
}

.normal-row .dashboard-stat .caption-helper ul.post-meta{
    margin: 0px 0px 0px 10px;
}

.dashboard-stat.acceptance{
    border-bottom: 3px dotted #40617d;
}

.dashboard-stat.navigating-turns{
    border-bottom: 3px dotted #fbbd5d;
}

.dashboard-stat.heading-for-the-finish{
    border-bottom: 3px dotted #f17274;
}

.dashboard-stat.getting-into-gear{
    border-bottom: 3px dotted #40b8f4;
}

.normal-row .visual{
    width: 50%;
    height: auto;
    display: block;
    padding-left: 10px;
    position: relative;
}

.normal-row .details{
    width: 40%;
    height: auto;
    display: block;
    float: left;
    padding-left: 0px;
    right: initial;
    margin-right: 0px;
    line-height: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
    margin-left: 13px;
    padding-right: 0px;
}

.normal-row .dashboard-stat.blue-soft .details .number{
    text-align: left;
    color: #002c51;
    padding-top: 0px;
    font-size: 17px;
    line-height: 27px;
}


@media (max-width: 1400px) {
    .init-row .dashboard-stat .details .number{
        font-size: 19px;
        line-height: 27px;
    }
    .normal-row .dashboard-stat.blue-soft .details .number {
        font-size: 15px;
        line-height: 19px;
    }
}


@media (max-width: 1200px) {
    .init-row .dashboard-stat .details .number{
        font-size: 22px;
        line-height: 27px;
    }
    .normal-row .dashboard-stat.blue-soft .details .number {
        font-size: 15px;
        line-height: 19px;
    }
}


.page-header.navbar .page-actions .btn-group{
    margin-right: 30px;
}

.page-header.navbar .page-actions .btn-group a{
    color: #23252f;
    font-size: 16px;
    text-decoration: none;
    font-family: "pt-sans",sans-serif;
}

.page-header.navbar .page-actions .btn-group a.singup{
    color: #fba217;
    border: 1px solid #fba217;
    border-radius: 5px;
    padding: 3px 13px;
    margin-left: 15px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'futura-pt-condensed';
}

.arrow_line {
    background-image: url(../img/arrow_line.png);
    height: 19px;
}

.portlet.light .actions .btn-group .icon-text,
.portlet.light .actions .btn-group .title{
    clear: both;
    display: block;
    text-align: center;
}

.portlet.light .actions .btn-group .title{
    margin-top: 12px;
}

.portlet.navigating-turns .actions .btn-group .title{
    color: #fbbd5d;
}

.portlet.heading-for-the-finish .actions .btn-group .title{
    color: #f17274;
}

.portlet.acceptance .actions .btn-group .title{
    color: #40617d;
}

.portlet.getting-into-gear .actions .btn-group .title{
    color: #40b8f4;
}

.config-link.active a i.icon-settings{
    color: #ec4346!important;
}

.menu-settings-ul-link{

}

li.config-link ul.menu-settings-ul{
    display: none;    
}

li.config-link ul.menu-settings-ul li a:hover{
    color: #ec4346!important;
}